@CHARSET "UTF-8";

.changeForm{
	position:absolute;
	top: 421px; 
	left:880px;
	border:1px solid #ccc;
	background-color:white;
	z-index:9999;
}

.changeForm form{
	padding:15px 50px;
}

.changeForm input{
	width:100px;
	height:26px;
	text-indent:5px;
}

.changeForm form tr{
	display:block;
	padding:3px 0;
}
.changeForm #c_type{
	padding-top:3px;
	padding-left: 4px;
}
#c_nav{
	height:24px;
	padding:0;
	line-height:24px;
}
#c_nav li{
	float:left;
	padding:0 7px 0 7px;
	cursor:pointer;
}

#c_tag{
	height:24px;
	border-bottom:1px solid rgb(76, 130, 204);
}

.c_active{
	background-color:rgb(76, 130, 204);
	color:white;
}

#c_save{
	color:white;
	background-color:rgb(76, 130, 204);
	border:1px solid rgb(76, 130, 204);
	width:143px;
}

#c_goodsName{
	width:87px;
}