@CHARSET "UTF-8";
#checkInf{
	background-color:#e5e5e5;
	position:fixed;
	width:909px;
	height:50px;
	line-height:50px;
	font-size:14px;
	padding:0 20px;
	margin-left:209px;
	bottom:-1px;
}

#checkInf span{
	padding:0 8px;
}

#inf{
	float:right;
}

strong{
	color:rgb(76, 130, 204);
	font-size:medium;
}