body {
	font: 12px/18px Arial, "Microsoft YaHei";
	font-size-adjust: none;
	font-stretch: normal;
}
a {
	color: rgb(4, 73, 190);
	text-decoration: none;
	cursor:pointer;
}
img {
	border: 0px currentColor;
}
aside {
	margin: 0px; padding: 0px; display: block;
}
dt{
	border-bottom:0px;
}
ul{
	list-style:none;
}
li{
	display:list-item;
}
p{
	padding-left:15px;
	display:block;
}
em{
	color:rgb(98, 145, 206);
}
.main_page {
	background: url("bg.png"); 
	padding-bottom: 10px;
}
.main_page a:visited {
	text-decoration: none;
}
.main_page .head {
	background: white;
	width: 100%;
	height: 100px;
	border-bottom-color: rgb(218, 218, 218);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.head .head_container {
	margin: 0px auto; 
	transition:width 0.5s; /*支持Internet Explorer 10、Firefox、Opera、Chrome */
	width: 1158px; 
	position: relative; 
	-webkit-transition: width .5s; /*支持Safari*/
	-o-transition: width .5s;
}
.head .logo {
	margin-top: 20px; 
	display: inline-block;
}
.main_page .container {
	background: url("nav_bg.png") repeat-y left; 
	margin: 35px auto 0px; 
	transition:width 0.5s, 	background-position 0.5s; 
	width: 1158px; 
	-webkit-transition: width .5s, 	background-position .5s; 
	-moz-transition: width .5s, background-position .5s; 
	-o-transition: width .5s, background-position .5s;
}
.clearfix::after {
	height: 0px; 
	clear: both; 
	display: block; 
	visibility: hidden; 
	content: ".";
}
.main_page .page_aside {
	width: 178px; 
	padding-bottom: 50px; 
	float: left;
}
.user_info {
	background: rgb(29, 80, 145); 
	position: relative;
}
.user_info .user_avatar {
	border-radius: 30px; 
	left: 8px; 
	top: -20px; 
	width: 60px; 
	height: 60px; 
	position: absolute;
}
.user_info .info_mesaage {
	color: rgb(211, 229, 251); 
	padding-top: 5px; 
	padding-left: 80px;
}
nav {
	margin: 0px; 
	padding: 0px; 
	display: block;
}
.nav_sec {
	padding: 11px 0px; 
	border-bottom-color: rgb(98, 145, 206); 
	border-bottom-width: 1px; 
	border-bottom-style: solid;
}
.nav_sec dt {
	background: url("nav_icon.png") no-repeat 0px 0px; 
	height: 29px; 
	color: white; 
	line-height: 29px; 
	font-weight: bold; 
	margin-left: -1px; 
}

.nav_sec dt.homepage {
	background-position: 20px -117px;
	width: 180px; 
	padding-left: 0px;
}
.nav_sec dd {
	width: 180px; 
	height: 26px; 
	line-height: 26px; 
	margin-left: -1px; 
}
.nav_sec .active .index_page_uri {
	background-color: transparent;
}
.nav_sec .active a {
	background-color: rgb(29, 80, 145);
}
.nav_sec .active {
	background-color: rgb(29, 80, 145);
}

.nav_sec .index_page_uri:hover {
	background-color: rgb(31, 100, 191);
}

.nav_sec .homepage:hover {
	background-color: rgb(31, 100, 191);
}

.nav_sec a:hover {
	background-color: rgb(31, 100, 191);
}
.nav_sec a
{
    width: 140px; 
    padding-left: 40px; 
    display: block;
}
.nav_sec a:link {
	color: white; 
	text-decoration: none;
}

.nav_sec a:visited {
	color: white; 
	text-decoration: none;
}
.nav_sec dt.purchase {
	background-position: 20px -17px;
}
.nav_sec dt.sale {
	background-position: 20px -143px;
}
.nav_sec dt.goods {
	background-position: 20px -193px;
}
.main_page .main_content {
	width: 950px; 
	float: right;
}
.main_page .panel {
	background: white; 
	border: 1px solid rgb(236, 236, 236);
	border-bottom-width:0;
}
.main_page .first_panel {
	border-bottom-color: currentColor; 
	border-bottom-width: 0px; 
	border-bottom-style: none;
}
.panel h3 {
	padding: 25px; 
	font-family: "Microsoft YaHei"; 
	font-size: 20px; 
	font-weight: bold; 
	border-bottom-color: rgb(236, 236, 236); 
	border-bottom-width: 1px; 
	border-bottom-style: solid;
	margin:0px;
}
#search{
	width:720px;
	height:65px;
	padding:0px 188px 30px 40px;
	font-family: "Microsoft YaHei"; 
	font-size: 15px; 
}
#search_tab{
	height:34px;
}
#search_nav li{
	text-align:center;
	float:left;
	width:70px;
	height:34px;
	line-height:34px;
	cursor:pointer;
	
}
.selected{
	background-color:rgb(76, 130, 204);
	color:#fff;
	font-weight:500;
}
#search_panel{
	width:730px;
	height:34px;
	position:absolute;
}
#search_content{
	width:612px;
	height:34px;
	border-color:rgb(76, 130, 204);
	border-style:solid;
	border-width:3px;
	border-right:none;
	cursor:auto;
	position:relative;
	float:left;
	margin-left:40px;
	text-indent:30px;
}
#search_btn{
	float:right;
	height:42px;
	width:78px;
	background-color:rgb(76, 130, 204);
	border-color:rgb(76, 130, 204);
	border-style:solid;
	border-width:3px;
	color:white;
	font-size:medium;
}
#search_btn:hover{
	background-color:rgb(31, 100, 191);
	border-color:rgb(31, 100, 191);
}
.panel_second{
	margin-top:10px;
	padding:10px 30px 10px 20px;
}

#search_nav li:hover{
	color:rgb(211, 229, 251);
}
#require{
	width:890px;
	height:35px;
	color:#444;
	text-align:center;
	
	font-family: "Microsoft YaHei";
}
#order{
	float:left;
	height:34px;
	line-height:34px;
}
.type{
	width:133px;
	float:right;
}
#order a{
	padding:3px 5px 3px 5px ;
	line-height:20px;
	border-radius:4px;
	cursor:default;	
}
#order a:hover{
	background-color:rgb(31, 100, 191);
	color:white;
}
#title{
	float:left;
	line-height:34px;
	height:34px;
}
.list{
	margin:0;
	padding:0;
	float:right;
	border-color:#aaa;
	border-style:solid;
	border-radius:0 0 4px 4px;
	border-width:1px;
	border-top:none;
}
.list li{
	height:20px;
	line-height:20px;
	padding:3px 3em 3px 7px;
	text-align:left;
	cursor:default;
	background-color:white;
	position:relative;
}
.list li:hover{
	background-color:#ddd;
}
.board{
	line-height:26px;
	height:26px;
	float:left;
	margin-left:4px;
	width:48px;
	text-align:left;
	padding:3px 16px 3px 7px;
	border-style:solid;
	border-width:1px;
	border-color:#aaa;
	border-right:none;
	cursor:default;
}
.arrow{
	float:right;
	width:15px;
	padding:0 0 13px 5px;
	display:inline-block;
	height:19px;
	vertical-align:middle;
	border-style:solid;
	border-width:1px;
	border-color:#aaa;
	border-left:none;
	background:url(down.png) 0 4px no-repeat;
}
.disappear{
	display:none;
}
#choose{
	width:133px;
	height:34px;
}

.panel_table{
	background-color:white;
	width:950px;
	z-index:-1;
}
.panel_table table{
	width:880px;
	font-family:"SimSun";
	border-collapse:collapse;
	margin-left:35px;
	margin-bottom:50px;
}
.panel_table th{
	padding:12px 20px;
	font-size:13px;
	border:1px solid rgb(236, 236, 236);
	background-color:rgb(251, 251, 251);
}
.panel_table td{
	border:1px solid rgb(236, 236, 236);
	font-size:12px;
	text-align:center;
	padding:8px 0;
}

form table{
	border-collapse:collapse;
}

form td{
	padding:0px;
}

form tr{
	display:table-cell;
}

.panel_table_change{	
	position:absolute;
}

#host{
	color:rgb(211, 229, 251);
	font-size:inherit;
	padding-left:30px;
}

.tr_active{
	background-color:#e5e5e5;
}

