#filter {
	margin-bottom:10px;
	font-size:12px;
	line-height:19px;
	*zoom:1
}
#filter .filter-label-list {
	position:relative;
	padding-left:5em;
	_zoom:1
}
#filter .filter-label-list .label {
	position:absolute;
	top:0;
	left:0;
	width:5em;
	text-align:right
}
#filter .inline-block-list .item {
	display:inline-block;
	*display:inline;
	*zoom:1
}
#filter .sub-filter-wrapper .landmark-filter-wrapper {
	margin-top:8px;
	padding-left:0
}
#filter .sub-filter-wrapper .landmark-filter-wrapper .label {
	padding-left:3px;
	width:6em
}
#filter .filter-sortbar-outer-box {
	border:1px #d4d4d4 solid;
	background:#FFF
}
#filter .filter-sortbar-outer-box--merge {
	border-top-color:#EEE
}
#filter .filter-sortbar-outer-box .label {
	top:16px
}
#filter .filter-section-wrapper {
	position:relative;
	padding:0 15px
}
#filter .filter-section-wrapper .filter-section {
	padding:12px 0 12px 65px;
	border-top:1px dotted #dbdbdb
}
#filter .filter-main--attrs .filter-section {
	padding-left:50px
}
#filter .filter-sortbar-outer-box .first-filter {
	border-top:0
}
#filter .filter-sortbar-outer-box .icon-new {
	margin-top:-6px
}
#filter .filter-section-wrapper .item {
	margin:4px 10px 4px 0;
	vertical-align:top
}
#filter .filter-section-wrapper .item a {
	display:block;
	_display:inline;
	padding:0 4px;
	height:19px;
	_zoom:1
}
#filter .filter-section-wrapper .item a span {
	margin-left:3px;
	font-size:10px;
	font-family:arial,sans-serif;
	color:#999
}
#filter .filter-section-wrapper .item a:hover {
	border-radius:2px;
	text-decoration:none;
	color:#FFF;
	background-color:#45abab
}
#filter .filter-section-wrapper .item a:hover span {
	color:#FFF
}
#filter .filter-section-wrapper .current a {
	border-radius:2px;
	background-color:#45abab;
	color:#FFF
}
#filter .filter-section-wrapper .current a:hover {
	cursor:pointer
}
#filter .filter-section-wrapper .current a span {
	color:#FFF
}
#filter .filter-section-wrapper .has-fc a {
	display:inline-block;
	*display:inline
}
#filter .filter-section-wrapper .has-fc b {
	margin-right:1px;
	font-family:arial,sans-serif;
	font-weight:normal;
	color:#ee5238
}
#filter .filter-section-wrapper .has-icon {
	padding-left:2em;
	width:3em;
	*zoom:1;
	background:url(http://s0.meituan.net/www/css/i/sp-filter-24.v168c74f8.png) 0 0 no-repeat;
	_background:url(http://s0.meituan.net/www/css/i/sp-filter.v80bb6ee5.png) 0 0 no-repeat
}
#filter .travel-filter-wrapper .has-icon {
	width:4em
}
#filter .travel-filter-wrapper .has-icon,#filter .buziarea-filter-wrapper .has-icon,#filter .geo-filter-wrapper .has-icon {
	background-position:0 -20px
}
#filter .dinnernum-filter-wrapper .has-icon {
	background-position:0 -40px
}
#filter .dinnerprice-filter-wrapper .has-icon {
	background-position:0 -60px
}
#filter .date-filter-wrapper .has-icon,#filter .time-filter-wrapper .has-icon {
	background-position:0 -100px
}
#filter .room-filter-wrapper .has-icon {
	background-position:0 -120px
}
#filter .subway-filter-wrapper .has-icon {
	background-position:0 -140px
}
#filter .facility-filter-wrapper .has-icon {
	background-position:0 -160px
}
#filter .brand-filter-wrapper .has-icon {
	background-position:0 -200px
}
#filter .cinema-type-wrapper .has-icon {
	background-position:0 -220px
}
#filter .destination-filter-wrapper .has-icon {
	background-position:0 -240px
}
#filter .shoppingmall-filter-wrapper .has-icon {
	background-position:0 -260px
}
#filter .sub-filter-wrapper {
	margin-top:5px;
	padding:5px 10px;
	background:#f7f7f7
}
#filter .sub-filter-wrapper .label {
	top:4px;
	width:4em;
	color:#777
}
#filter .sub-filter-wrapper .transfer-stop {
	color:#ee5238
}
#filter .sub-filter-section {
	padding-left:0
}
#filter .sub-sub-filter-section {
	padding-left:4em
}
#filter .sub-category-hotel-travel .label {
	display:none
}
#filter .sub-category-hotel-travel .sub-sub-filter-section {
	padding-left:0
}
#filter .nav-sub-filter {
	margin:0;
	border:0;
	padding:0;
	background:0
}
#filter .filter-section-wrapper .destination-filter-wrapper .city-list-wrapper {
	margin-top:5px
}
#filter .filter-section-wrapper .destination-filter-wrapper .city-list-wrapper .label {
	top:4px;
	width:5em;
	line-height:19px
}
#filter .filter-section-wrapper .destination-filter-wrapper .city-list-wrapper .text {
	color:#777
}
#filter .subwaystation-filter-wrapper,#filter .buffet-filter-wrapper {
	margin-top:2px
}
#filter .filter-section-wrapper .item .subway {
	padding-left:20px;
	*zoom:1;
	background-image:url(http://s0.meituan.net/www/css/i/sp-icons-24.v93f4adf7.png);
	background-position:-185px 1px;
	background-repeat:no-repeat;
	_background-image:url(http://s0.meituan.net/www/css/i/sp-icons.vbfce69f2.png)
}
#filter .filter-section-wrapper .current .subway,#filter .filter-section-wrapper .item .subway:hover {
	background-position:-185px -19px
}
#filter .filter-section-wrapper .item .briber,#filter .filter-section-wrapper .item .briber span {
	color:#ee5238
}
#filter .filter-section-wrapper .current .briber,#filter .filter-section-wrapper .current .briber span {
	color:#FFF
}
#filter .hot-tag-outer-box {
	border:1px solid #cbe0e3;
	border-bottom:0;
	padding:1px 1px 0;
	background-color:#f8fbfc;
	background-image:-webkit-linear-gradient(bottom,#d4ebee 0,#f8fbfc 15%);
	background-image:-moz-linear-gradient(bottom,#d4ebee 0,#f8fbfc 15%);
	background-image:linear-gradient(bottom,#d4ebee 0,#f8fbfc 15%)
}
#filter .hot-tag-wrapper {
	padding:0 15px 0 80px;
	height:32px;
	background-color:#f1f9fa;
	overflow:hidden;
	background-image:-webkit-linear-gradient(bottom,#d4ebee 0,#f1f9fa 15%);
	background-image:-moz-linear-gradient(bottom,#d4ebee 0,#f1f9fa 15%);
	background-image:linear-gradient(bottom,#d4ebee 0,#f1f9fa 15%)
}
#filter .hot-tag-wrapper .label {
	top:7px;
	left:15px
}
#filter .hot-tag-wrapper .item {
	margin:7px 12px 7px 0;
	padding:0 4px;
	height:18px;
	vertical-align:top
}
#filter .hot-tag-wrapper .item:hover {
	border-radius:2px;
	text-decoration:none;
	color:#FFF;
	background-color:#45abab
}
#filter .hot-tag-wrapper .hot {
	color:#ee5238
}
#filter .sort-bar {
	position:relative;
	padding:0 15px;
	border-top:1px solid #EEE;
	height:37px;
	background:#f7f7f7
}
#filter .button-strip {
	margin:8px 10px 8px 0;
	font-size:12px;
	line-height:19px;
	text-align:center
}
#filter .button-strip-item {
	border:1px solid #e8e8e8;
	padding:0 6px;
	background:#f9f9f9;
	color:#666;
	*cursor:pointer;
	_vertical-align:top
}
#filter .button-strip-item-checked {
	position:relative;
	background:#eeeded;
	color:#666;
	text-decoration:none
}
#filter .button-strip-item:hover {
	background:#e0e0e0;
	text-decoration:none
}
#filter .button-strip-item-checked:hover {
	background:#eeeded;
	box-shadow:none
}
#filter .button-strip-item-left {
	border-top-left-radius:0;
	border-bottom-left-radius:0
}
#filter .button-strip-item-right {
	margin-right:-1px;
	border-top-right-radius:0;
	border-bottom-right-radius:0
}
#filter .button-strip-item .button-outer-box {
	width:4em
}
#filter .middle-button .button-outer-box {
	width:5em
}
#filter .large-button .button-outer-box {
	width:6em
}
#filter .button-strip-item .button-content {
	line-height:19px
}
#filter .button-strip-item .button-img {
	margin:6px 0 5px 6px;
	_margin:6px 0 -1px 6px;
	width:7px;
	height:8px;
	vertical-align:top
}
#filter .button-strip-item-asc .sp-header-new {
	background-position:-85px -79px
}
#filter .button-strip-item-desc .sp-header-new {
	background-position:-98px -79px
}
#filter .button-strip-item-asc-active .sp-header-new {
	background-position:-112px -79px
}
#filter .button-strip-item-desc-active .sp-header-new {
	background-position:-125px -79px
}
#filter .sort-bar__map {
	position:relative;
	color:#ff7f00;
	margin-left:10px
}
#filter .sort-bar__map .icon-new {
	top:-6px;
	right:0
}
#filter .checkbox {
	position:relative;
	margin:9px 10px 8px 10px;
	padding-left:15px;
	color:#333;
	line-height:19px;
	text-decoration:none;
	text-align:left;
	background:url(http://s1.meituan.net/www/css/i/sp-header-new.va76f943b.png) -237px -151px no-repeat;
	vertical-align:top;
	outline:0
}
#filter .checkbox-nocheck:hover {
	text-decoration:none;
	background-position:-237px -128px;
	*background-position:-237px -151px
}
#filter .checkbox-checked {
	background-position:-237px -105px
}
#filter .checkbox-disabled {
	background-position:-237px -174px;
	color:#AAA;
	cursor:default
}
#filter .checkbox-checked-disabled {
	background-position:-237px -88px;
	cursor:default
}
#filter .checkbox--hot {
	color:#ee5238
}
#filter .around-filter-outer-box {
	margin-bottom:12px;
	border:1px solid #d4d4d4;
	background:#FFF
}
#filter .around-filter-outer-box .filter-section {
	padding-left:5em
}
#filter .around-filter-outer-box .first-filter {
	border-top:0
}
#filter .around-filter-outer-box .label {
	top:16px;
	width:3em
}
#filter .around-filter-outer-box .inline-link {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	line-height:27px
}
#filter .around-geo-strip {
	padding:10px 15px;
	border-top:1px solid #ededed;
	background:#fafafa;
	color:#666
}
#filter .around-geo-strip p {
	padding-left:15px;
	background:url(http://s0.meituan.net/www/css/i/sp-around-icon.veb2bc790.png) no-repeat 0 -40px
}
#filter .around-geo-strip .modify,#filter .around-geo-strip .delete {
	margin-left:20px;
	padding-left:10px;
	background:url(http://s0.meituan.net/www/css/i/sp-around-icon.veb2bc790.png) no-repeat
}
#filter .around-geo-strip .modify {
	background-position:0 -20px
}
#filter .around-geo-strip .save-tips {
	margin-left:10px;
	padding-left:10px;
	border-left:1px solid #cbcbcb
}
#filter .around-geo-strip .save {
	position:absolute;
	width:41px;
	height:21px;
	margin-top:-1px;
	*margin-top:-2px;
	margin-left:2px;
	border:1px solid #cfcfcf;
	border-radius:3px;
	line-height:21px;
	text-align:center;
	color:#555
}
#filter .around-geo-strip .save:hover {
	text-decoration:none;
	border-color:#6fcbcc
}
.deallist-sprite,.brand-tile__cover .multi-icon {
	background:url(http://s0.meituan.net/www/css/si/deallist.v503fe7ac.png) no-repeat
}
.deal-tile {
	position:relative;
	float:left;
	width:350px;
	border:1px solid #ddd;
	background:#fff;
	color:#999
}
.deal-tile:hover .short-title {
	color:#333
}
.deal-tile .w-link:hover .short-title {
	_color:#333
}
.deal-tile .num {
	font-family:arial,sans-serif
}
.deal-tile .deal-mark {
	top:-4px;
	left:10px
}
.deal-tile__cover {
	display:block;
	position:relative;
	_zoom:1;
	text-decoration:none;
	overflow: hidden;
}
.deal-tile__cover:hover {
	text-decoration:none
}
.deal-tile__cover img {
	display:block
}
.deal-tile__cover .trade-geo {
	position:absolute;
	bottom:0;
	width:318px;
	padding:5px 16px;
	max-height:166px;
	z-index:5;
	font-size:12px;
	line-height:22px;
	color:#ccc;
	opacity:0;
	filter:Alpha(opacity=0);
	overflow:hidden;
	background-color:#000;
	cursor:pointer;
	text-decoration:none!important;
	-moz-transition:opacity .5s ease-out;
	-webkit-transition:opacity .5s ease-out;
	transition:opacity .5s ease-out
}
.deal-tile__cover .geo-hover {
	opacity:.9;
	filter:Alpha(opacity=90)
}
.deal-tile__cover .trade-geo:hover {
	opacity:.9;
	filter:Alpha(opacity=90)
}
.deal-tile__cover .geo-title {
	font-weight:bold
}
.deal-tile__cover .geo-title__icon {
	display:inline-block;
	width:13px;
	height:13px;
	padding-right:2px;
	vertical-align:-2px;
	*vertical-align:baseline;
	background:url(http://s0.meituan.net/www/css/i/sp-icons-24.v93f4adf7.png) 0 0 no-repeat;
	_background:url(http://s0.meituan.net/www/css/i/sp-icons.vbfce69f2.png) 0 0 no-repeat
}
.deal-tile__cover .deal-st {
	position:absolute;
	top:0;
	left:0;
	width:350px;
	height:214px;
	text-indent:-999px;
	overflow:hidden;
	background:url(http://s1.meituan.net/www/css/i/bg-deal-status-24.vbcc1df64.png) 0 0 no-repeat;
	_background-image:url(http://s1.meituan.net/www/css/i/bg-deal-status.vbfd0be9c.png)
}
.deal-tile__cover .deal-st--expire {
	background-position:0 -224px
}
.deal-tile__title {
	margin-top:15px;
	padding:0 16px;
	font-family:'ËÎÌו',sans-serif
}
.deal-tile__title .w-link {
	display:block;
	height:64px;
	overflow:hidden;
	_cursor:pointer;
	-moz-transition:color .2s;
	-webkit-transition:color .2s;
	transition:color .2s
}
.deal-tile__title .w-link:hover {
	text-decoration:none
}
.deal-tile__title .xtitle,.deal-tile__title .short-title {
	display:block;
	-webkit-transition:color .2s;
	-moz-transition:color .2s;
	transition:color .2s
}
.deal-tile__title .xtitle {
	margin-bottom:4px;
	color:#333;
	font-size:16px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-indent:0em;
	_width:306px
}
.deal-tile__title .short-title {
	line-height:18px;
	color:#999;
	font-weight:normal
}
.deal-tile__title em {
	font-weight:inherit;
	color:#f76120
}
.deal-tile__detail {
	padding:0 16px 2px
}
.deal-tile__detail .price {
	margin-right:10px;
	font-size:26px;
	color:#f76120
}
.deal-tile__detail .price strong {
	margin-left:2px
}
.deal-tile__detail .num {
	font-family:arial,sans-serif
}
.deal-tile__detail .value {
	font-size:12px
}
.deal-tile__detail .value del {
	padding-left:6px
}
.deal-tile__extra {
	padding:1px;
	border-top:1px #f3f3f3 solid
}
.deal-tile__extra .extra-inner {
	position:relative;
	height:33px;
	padding:0 15px;
	font-size:12px;
	background-color:#fafafa
}
.deal-tile__extra .sales {
	float:left;
	height:33px;
	line-height:33px
}
.deal-tile__extra .sales .num {
	margin-left:2px;
	color:#f76120;
	font-weight:normal
}
.deal-tile__extra .rate-info {
	float:right;
	height:33px;
	line-height:33px;
	cursor:pointer
}
.deal-tile__extra .rate-info:hover,.deal-tile__extra .rate-info:hover .rate-info__count {
	color:#0bb;
	text-decoration:none
}
.deal-tile__extra .rate-info__bar {
	margin-right:5px;
	*margin-right:8px;
	vertical-align:-1px;
	*vertical-align:1px
}
.deal-tile__extra .rate-info__count {
	display:inline-block;
	color:#949494
}
.deal-tile__extra .rate-info--noreviews {
	cursor:default
}
.deal-tile__extra .rate-info--noreviews:hover {
	color:inherit
}
.deal-tile__extra .marker {
	float:right;
	position:relative;
	top:10px;
	width:10px;
	height:13px;
	overflow:hidden
}
.deal-tile__extra .maker--distance {
	background-position:-54px -77px
}
.deal-tile__extra .sp-around-icon {
	background-position:0 -62px
}
.deal-tile__extra .subway-distance,.deal-tile__extra .around-distance {
	float:right;
	padding-left:5px;
	font-size:12px;
	line-height:33px
}
.deal-tile__extra .around-distance em {
	padding:0 3px;
	font-weight:bold;
	color:#fd6b44
}
.deal-mark {
	position:absolute;
	z-index:9
}
.deal-mark__item {
	float:left;
	_position:relative;
	margin-right:-3px;
	width:43px;
	height:40px;
	background:url(../design/tag.png) no-repeat;
	text-indent:-9999px;
	overflow:hidden
}
.deal-mark__item--new {
	background-position:0 -150px
}
.deal-mark__item--pois {
	background-position:-88px -150px
}
.deal-mark__item--nnbooking {
	background-position:-132px -150px
}
.deal-mark__item--appoint {
	background-position:-88px -193px
}
.deal-mark__item--imax {
	background-position:-176px -150px
}
.deal-mark__item--ndhotel {
	background-position:0 -193px
}
.deal-mark__item--lottery {
	background-position:-44px -193px
}
.brand-tile {
	position:relative;
	float:left;
	width:350px;
	border:1px solid #ddd;
	background:#fff;
	color:#666
}
.brand-tile .logo {
	margin:20px auto
}
.brand-tile .title {
	display:block;
	text-align:center;
	font-weight:bold;
	color:#666
}
.brand-tile--even {
	margin-right:0
}
.brand-tile__cover {
	display:block;
	padding-bottom:20px;
	border-bottom:1px solid #ddd;
	text-align:center
}
.brand-tile__cover img {
	display:block;
	max-width:314px
}
.brand-tile__cover img:first-child {
	border-bottom:1px solid #f1f1f1
}
.brand-tile__cover .multi-icon {
	position:absolute;
	width:50px;
	height:50px;
	left:0;
	top:192px;
	background-position:0 0
}
.brand-tile__cover:hover {
	text-decoration:none
}
.brand-tile__extra {
	display:block;
	border-top:1px solid #fff;
	margin-bottom:1px;
	padding:10px 0;
	text-align:center;
	font-size:12px;
	background-color:#fafafa
}
.brand-tile__extra .extra-inner {
	width:33%;
	float:left;
	border-right:1px dotted #ddd
}
.brand-tile__extra .count {
	font-size:18px;
	font-family:arial;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.brand-tile__extra .label {
	color:#999
}
.brand-tile__extra .extra-inner--last {
	border-right:0
}
.deal-tile--reco {
	border:0;
	width:198px;
	height:195px;
	font-size:12px
}
.deal-tile--reco:hover {
	box-shadow:none
}
.deal-tile--reco .w-link {
	width:198px;
	height:36px
}
.deal-tile--reco .w-link:hover .short-title {
	color:#0bb
}
.deal-tile--reco .short-title {
	text-indent:-0.5em;
	color:#666
}
.deal-tile--reco .price {
	font-size:22px
}
.deal-tile--reco .deal-tile__title {
	margin-top:10px;
	padding:0
}
.deal-tile--reco .deal-tile__detail {
	padding:0
}
.deal-tile--reco .deal-rank {
	position:absolute;
	top:-2px;
	left:0;
	padding:0 2px 2px 0;
	width:16px;
	height:16px;
	line-height:16px;
	background:url(http://s0.meituan.net/www/css/i/sp-icons-24.v93f4adf7.png) -20px 0 no-repeat;
	_background:url(http://s0.meituan.net/www/css/i/sp-icons.vbfce69f2.png) -20px 0 no-repeat;
	color:#fff;
	text-align:center
}
.top-reco-deals .deal-tile--reco {
	float:none
}
.mall {
	*position:relative;
	float:left;
	width:720px;
	clear:left
}
.mall .brand-tile,.mall .deal-tile {
	margin-bottom:16px;
	box-shadow:0 2px 0 0 #ededed
}
.mall .brand-tile:hover,.mall .deal-tile:hover {
	border-bottom-color:#4479d4;
	box-shadow:inset 0 -1px 0 0 #4479d4
}
.mall .deal-tile--even {
	float:right
}
.mall .page-nav-wrapper {
	clear:both;
	padding-top:20px;
	text-align:center
}
.pg-nav .page-nav-wrapper {
	padding-top:24px
}
.mall--3cols {
	width:980px
}
.mall--3cols .deal-tile,.mall--3cols .brand-tile {
	margin:0 16px 16px 0;
	width:314px
}
.mall--3cols .brand-tile--even,.mall--3cols .deal-tile--even {
	float:left;
	margin-right:0
}
.mall--3cols .deal-tile__cover .trade-geo {
	width:282px
}
.mall--3cols .deal-tile__cover .deal-st {
	width:314px;
	height:192px;
	background-position:-18px -11px
}
.mall--3cols .deal-tile__cover .deal-st--expire {
	background-position:-18px -235px
}
.mall--3cols .deal-tile__title .xtitle {
	_width:282px
}
.mall--3cols .deal-tile__detail {
	padding:4px 16px
}
.mall--3cols .deal-tile__detail .price {
	font-size:22px
}
.site-sidebar {
	float:right;
	width:240px;
	_display:inline
}
.side-extension {
	margin-bottom:16px;
	padding:10px 20px;
	border:1px solid #DDD;
	box-shadow:0 2px 0 0 #ededed;
	background-color:#FFF;
	font-size:12px;
	*zoom:1
}
.side-extension h3 {
	padding:3px 0 13px;
	font-size:16px
}
.side-extension img {
	display:block
}
.side-extension__item {
	display:block;
	border-bottom:1px dotted #DDD;
	margin-bottom:20px;
	padding-bottom:13px
}
.side-extension__item--last {
	border-bottom:0;
	margin-bottom:0
}
.side-extension--multiple {
	padding:0 20px 1px
}
.side-extension--download .side-extension__item {
	margin:0;
	padding:0;
	width:198px;
	height:115px;
	background-image:url(http://s0.meituan.net/www/css/i/sp-sidebar.vf6dbce11.png);
	background-repeat:no-repeat
}
.side-extension__item--client {
	background-position:0 0
}
.side-extension__item--movie {
	background-position:0 -116px
}
.side-extension__item--hotel {
	background-position:0 -232px
}
.side-extension--link .side-extension__item {
	margin:0;
	padding:40px 0 20px 40px;
	background-image:url(http://s0.meituan.net/www/css/i/sp-sidebar.vf6dbce11.png);
	background-repeat:no-repeat;
	color:#666
}
.side-extension--link .side-extension__item:hover {
	text-decoration:none;
	color:#0BB
}
.side-extension--link .description {
	display:block;
	color:#666
}
.side-extension__item--job {
	background-position:0 -348px
}
.side-extension__item--feedback {
	background-position:0 -425px
}
.side-extension__item--business {
	background-position:0 -501px
}
.side-extension--single {
	padding:0
}
.side-extension--recruit {
	position:relative;
	margin-bottom:-1px;
	border-bottom:0;
	box-shadow:none;
	z-index:1
}
.side-extension--recruit a {
	display:block;
	width:238px;
	height:120px;
	background:url(http://s0.meituan.net/www/css/i/sp-sidebar.vf6dbce11.png) 0 -866px no-repeat
}
.side-extension--lottery {
	height:154px;
	background:url(http://s0.meituan.net/www/css/i/sp-sidebar.vf6dbce11.png) 0 -711px no-repeat
}
.side-extension--lottery .old {
	display:block;
	height:45px;
	_cursor:pointer
}
.side-extension--lottery #lottery-list {
	margin-top:19px;
	margin-left:78px
}
.lottery-result-list__item {
	position:relative;
	padding-left:5px;
	width:155px;
	line-height:24px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.lottery-result-list__item i {
	position:absolute;
	top:0;
	left:0;
	width:4px;
	height:4px;
	margin-top:11px;
	background-position:-69px -78px
}
.side-extension--topic h3 {
	padding:10px 20px;
	background:#FFF
}
.side-extension--topic .topic-item-w {
	*zoom:1;
	*vertical-align:bottom
}
.side-extension--topic .topic-item {
	display:block;
	height:140px;
	overflow:hidden;
	background-repeat:no-repeat
}
.side-extension--topic .topic-item:hover {
	text-decoration:none
}
.side-extension--topic .topic-item__title {
	text-indent:-9999px;
	display:block
}
.side-extension--topic .topic-item__subtitle {
	margin-left:5px;
	font-size:12px;
	font-weight:normal;
	color:#666
}
.side-extension .deal-tile--reco {
	height:auto
}
.side-extension .w-link {
	height:auto
}
.side-extension--history .clear-history {
	float:right;
	font-weight:normal;
	font-size:12px;
	line-height:24px
}
.side-extension--history .no-history {
	height:60px;
	width:198px;
	line-height:60px;
	color:#666;
	text-align:center
}
.side-extension--history .side-extension__item {
	width:198px
}
.side-extension--history .history-list h5 {
	height:32px;
	line-height:16px;
	overflow:hidden;
	font-size:12px;
	font-weight:normal
}
.side-extension--history .history-list__item {
	padding:18px 0;
	font-size:12px;
	color:#666;
	zoom:1;
	border-bottom:1px dotted #DDD
}
.side-extension--history .history-list__item--first {
	padding-top:0
}
.side-extension--history .history-list__item--last {
	border:0;
	padding-bottom:0
}
.side-extension--history .history-list__item a {
	color:#666
}
.side-extension--history .history-list__item a:hover {
	color:#0BB;
	text-decoration:none
}
.side-extension--history .history-list__item img {
	float:left;
	margin:2px 10px 0 0
}
.side-extension--history .history-list__item p {
	padding-top:4px
}
.side-extension--history .history-list__item .price {
	padding-right:5px;
	font:bold 12px/12px arial,sans-serif;
	color:#f76120
}
.side-extension--history .history-list__item .old-price {
	color:#999
}
.qrcode-sprite,.stick-qrcode .index-xiaomei,.stick-qrcode .stick-qrcode-index,.stick-qrcode .stick-qrcode-category,.stick-qrcode .stick-qrcode-deal,.stick-qrcode .stick-qrcode-search,.block-download,.block-download .block-qrcode-growth,.block-download .block-qrcode-lottery,.block-download .block-qrcode-cartbuy,.block-download .block-qrcode-orderbuy,.qrcode-dealbuy,.stick-left .left-xiaomei,.stick-left .left-qrcode-orders,.stick-left .left-qrcode-refund,.stick-left .left-qrcode-lottery,.stick-left .left-qrcode-collection,.stick-left .left-qrcode-rate,.stick-left .left-qrcode-growth,.stick-left .left-qrcode-credit,.stick-left .left-qrcode-balance,.stick-left .left-qrcode-coupon,.stick-left .left-qrcode-account,.stick-left .left-growth,.qrcode-dialog .qrcode-dialog-coupon,.qrcode-dialog .qrcode-dialog-message,.around-position-qrcode {
	background:url(../Design/mantou.png) no-repeat
}
.stick-qrcode {
	position:fixed;
	_position:absolute;
	left:50%;
	margin-left:500px;
	z-index:40
}
.stick-qrcode .stick-qrcode__pos {
	position:absolute;
	top:128px;
	left:17px;
	width:74px;
	height:74px
}
.stick-qrcode .index-xiaomei {
	position:relative;
	display:inline-block;
	width:114px;
	height:185px;
	vertical-align:top;
	outline:0;
	background-position:0 -950px
}
.stick-qrcode .index-xiaomei .close {
	position:absolute;
	top:110px;
	right:6px;
	width:20px;
	height:20px
}
.stick-qrcode .stick-qrcode-index {
	background-position:0 -1983px
}
.stick-qrcode .stick-qrcode-category {
	background-position:0 -277px
}
.stick-qrcode .stick-qrcode-deal {
	background-position:0 -353px
}
.stick-qrcode .stick-qrcode-search {
	background-position:0 -2439px
}
.block-download {
	position:relative;
	height:174px;
	margin:20px 0;
	background-position:0 0
}
.block-download .block__qrcode {
	position:absolute;
	width:100px;
	height:100px;
	top:36px;
	left:159px
}
.block-download .download__btn {
	position:absolute;
	height:36px;
	top:100px
}
.block-download .download__btn-iphone {
	width:150px;
	left:299px
}
.block-download .download__btn-android {
	width:160px;
	left:460px
}
.block-download .download__tip {
	position:absolute;
	bottom:80px;
	right:20px;
	width:360px;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	color:#555
}
.block-download .download__tip strong {
	color:#ff8900
}
.block-download .download__tip .extra {
	color:#dcdcdc;
	font-size:16px
}
.block-download .block-qrcode-growth {
	background-position:0 -175px
}
.block-download .block-qrcode-lottery {
	background-position:0 -644px
}
.block-download .block-qrcode-cartbuy {
	background-position:0 -848px
}
.block-download .block-qrcode-orderbuy {
	background-position:0 -746px
}
.qrcode-dealbuy {
	position:absolute;
	top:0;
	right:2px;
	width:147px;
	height:111px;
	background-position:0 -531px
}
.stick-left {
	position:fixed;
	_position:absolute;
	left:50%;
	margin-left:-619px;
	z-index:40
}
.stick-left .stick-qrcode__pos {
	position:absolute;
	top:150px;
	left:26px;
	width:74px;
	height:74px
}
.stick-left .left-xiaomei {
	position:relative;
	display:inline-block;
	width:119px;
	height:294px;
	vertical-align:top;
	outline:0;
	background-position:0 -1207px
}
.stick-left .left-xiaomei .close {
	position:absolute;
	top:132px;
	right:0;
	width:20px;
	height:20px
}
.stick-left a {
	text-decoration:none
}
.stick-left .title {
	position:absolute;
	width:120px;
	top:12px;
	left:2px;
	color:#666;
	text-align:center
}
.stick-left .title strong {
	color:#f76120
}
.stick-left .left-qrcode-orders {
	background-position:0 -2135px
}
.stick-left .left-qrcode-refund {
	background-position:0 -2363px
}
.stick-left .left-qrcode-lottery {
	background-position:0 -1679px
}
.stick-left .left-qrcode-collection {
	background-position:0 -1755px
}
.stick-left .left-qrcode-rate {
	background-position:0 -2211px
}
.stick-left .left-qrcode-growth {
	position:absolute;
	top:60px;
	left:17px;
	width:74px;
	height:74px;
	background-position:0 -1907px
}
.stick-left .left-qrcode-credit {
	background-position:0 -1831px
}
.stick-left .left-qrcode-balance {
	background-position:0 -2287px
}
.stick-left .left-qrcode-coupon {
	background-position:0 -2591px
}
.stick-left .left-qrcode-account {
	background-position:0 -2059px
}
.stick-left .left-growth {
	position:relative;
	display:inline-block;
	width:110px;
	height:174px;
	vertical-align:top;
	outline:0;
	background-position:0 -1503px
}
.stick-left .left-growth .close {
	position:absolute;
	top:132px;
	right:0;
	width:20px;
	height:20px
}
.qrcode-dialog {
	float:right;
	height:200px;
	padding:10px 10px 10px 0
}
.qrcode-dialog h4 {
	font-size:18px;
	color:#666
}
.qrcode-dialog .title__large {
	font-size:24px
}
.qrcode-dialog .title__large strong {
	color:#f76120
}
.qrcode-dialog .download {
	position:relative;
	margin-top:18px
}
.qrcode-dialog .link {
	margin-left:120px
}
.qrcode-dialog .link .btn {
	display:block;
	margin-top:13px
}
.qrcode-dialog .qrcode {
	position:absolute;
	right:180px
}
.qrcode-dialog .qrcode .down__qrcode {
	display:block;
	width:100px;
	height:100px
}
.qrcode-dialog .qrcode-dialog-coupon {
	background-position:0 -429px
}
.qrcode-dialog .qrcode-dialog-message {
	background-position:0 -2667px
}
.around-position-qrcode {
	position:absolute;
	top:20px;
	right:20px;
	width:74px;
	height:74px;
	background-position:0 -2515px
}
