<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="sessionFactory">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">12345</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/shopinf</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.min_size">1</property>
  <property name="hibernate.c3p0.timeout">5000</property>
  <property name="hibernate.c3p0.max_statements">100</property>
  <property name="hibernate.c3p0.idle_test_period">3000</property>
  <property name="hibernate.c3p0.acquire_increment">2</property>
  <property name="hibernate.c3p0.validate">true</property>
  <property name="hbm2ddl.auto">update</property>
  <property name="show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.cache.use_second_level_cach">true</property>
  <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
  <mapping class="org.spsystem.domain.Goods"/>
  <mapping class="org.spsystem.domain.Purchase"/>
  <mapping class="org.spsystem.domain.Sale"/>
  <mapping class="org.spsystem.domain.Shop"/>
  <mapping class="org.spsystem.domain.Staff"/>
  <mapping class="org.spsystem.domain.Type"/>
 </session-factory>
</hibernate-configuration>
